<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Customer Details</title>
    <th:block th:include="header"></th:block>
</head>
<body>

<div>
    <h2>Edit Customer Details</h2>
    <div>
        <form th:object="${stock}" th:action="@{/stockslisting/save}"
              method="post">
            <input type="hidden" th:field="*{id}" />
            <br/>
            <label>Stock name:</label> <input type="text" th:field="*{stockName}" />
            <br/>
            <label>Stock price:</label> <input type="number" step=".01" th:field="*{price}" />
            <br/>
            <label>Available amount:</label> <input type="number" step=".01" th:field="*{availableAmount}" />
            <br/>
            <label>Description:</label> <input type="text" th:field="*{description}" />
            <br/>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

</body>
</html>